<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pbc.naturals.pbc">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cartitems"></activity>
        <activity android:name=".Booking">

        </activity>
        <activity android:name=".MainFragmentHolder">


        </activity>
        <activity android:name=".Padecure" />
        <activity android:name=".Manecure" />
        <activity android:name=".Haircut" />
        <activity android:name=".Bleach" />
        <activity android:name=".FaceTreatment" />
        <activity android:name=".HairSpa" />
        <activity android:name=".BodyPolishing" />
        <activity android:name=".HairStyle" />
        <activity android:name=".Threading" />
        <activity android:name=".Wax" />
        <activity android:name=".Facial" />
        <activity android:name=".BridalPackage" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ItemDetail" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>